.chart {
    display: flex;
    box-sizing: border-box;
    width:100%;
    flex-direction: row;
    padding: 1vw;
    div.wordcloud {
        border: 2px solid #ddd;
        margin-right: 1vw;
        position: relative;
        div.status {
            position: absolute;
            bottom: 5px;
            right: 5px;
            padding: 5px;
            border: 2px solid #ddd;
            border-radius: 5px;
        }
        div.orange {
            font-family: 'Jua';
            font-size: 0.7em;
            color: orange;
        }
        div.purple {
            font-family: 'Jua';
            font-size: 0.7em;
            color: purple;
        }

        .circle {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:40px; height:40px; border:10px solid #fff; border-top:10px solid cyan; border-radius:50em;
            animation-name:spinCircle;
            animation-duration:.8s;
            animation-iteration-count:infinite;
        }

        @keyframes spinCircle {
            from {
                transform:translate(-50%, -50%) rotate(0);
            }
            to {
                transform:translate(-50%, -50%) rotate(360deg);
            }
        }
    }
    div.line {
        flex: 1;
        border: 2px solid #ddd;
    }
}